$quantity-color: #f6f2cc;
$white-color: #FFFFFF;
$secondary-color: #F5F5F5;
$blue-color: #2207F6;
$red-color: #FF0000;
$red-color-opacity: #FF00004d;
$black-color: #1E2739;
$green-color: #00b90a;
$green-color-opacity: #00b90a4d;
$purple-bright-color: #f0e4f3
